@import "tailwindcss";

@theme {
	--color-primary: #24e524;


	--color-malachite-50: #e9fee7;
	--color-malachite-100: #cefccb;
	--color-malachite-200: #a0f99d;
	--color-malachite-300: #65f363;
	/* THIS ONE */
	--color-malachite-400: #24e524;
	--color-malachite-500: #15cd18;
	--color-malachite-600: #0ca411;
	--color-malachite-700: #0e7d14;
	--color-malachite-800: #126217;
	--color-malachite-900: #145319;
	--color-malachite-950: #052e09;


}